* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'AvenirNext';
  src: url('font/AvenirNextLTPro-Regular.otf');
}

html {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #4C4C4C;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: #eceef1;
  top: 0;
  left: 0;
  position: absolute;
  font-family: 'AvenirNext', Helvetica, sans-serif;
}

main {
  position: relative;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  font-size: 12px;
  color: #0077C5;
}

.mint-logo {
  padding: 20px 0;
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
}

.mint-logo-container {
  width: 118px;
  height: 35px;
  margin: 0 auto;
}

.mint-logo-link {
  background-image: url('image/ecosystem_logo.png');
  background-position: 0 0;
  background-size: cover;
  display: block;
  cursor: pointer;
  width: 118px;
  height: 35px;
  margin: 0 auto;
}

#main-container {
  top: 75px;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.main-header {
  padding-bottom: 4px;
  padding-top: 0;
  border-bottom-style: solid;
  border-bottom-width: 0;
  border-bottom-color: transparent;
  position: absolute;
  width: 100%;
}

.main-header-container {
  margin: 0 auto;
  display: block;
  width: 100%;
}

.product-list {
  height: 23px;
  width: 328px;
  overflow: hidden;
  padding: 0;
  margin: 0 auto;
  position: relative;
  white-space: nowrap;
  list-style: none;
}

.product-logo {
  width: 23px;
  height: 23px;
  display: inline-block;
  margin-right: 4px;
  position: relative;
}

.product-text {

  display: inline-block;
  opacity: 1;
  position: relative;
  margin-right: 9px;
}

.product-list li.mint-mini-logo {
  background: url('image/mint_logo.png') no-repeat;
}

.product-list li.qb-logo {
  background: url('image/quickbooks_logo.png') no-repeat;
}

.product-list li.tt-logo {
  background: url('image/turbotax_logo.png') no-repeat;
}

.product-list li.mint-mini-text {
  background: url('image/mint_text.png') no-repeat;
  width: 37px;
  height: 20px;
}

.product-list li.qb-text {
  background: url('image/quickbooks_text.png') no-repeat;
  width: 98px;
  height: 22px;
}

.product-list li.tt-text {
  background: url('image/turbotax_text.png') no-repeat;
  width: 200px;
  height: 22px;
  margin-right: 0;
}

#sign-up-wrapper {
  position: relative;
  width: 100%;
  top: 42px;
}

#sign-up-container {
  margin: auto;
  width: 380px;
  border: 1px solid #c7c7c7;
  border-radius: 2px;
  background-color: #fff;
  padding: 30px;
  overflow: visible;
  font-size: 14px;
  font-weight: 400;
}

#su-header {
  text-align: center;
  padding-bottom: 20px;
}

#su-header>span {
  color: #4C4C4C;
  line-height: 1.1;
  font-size: 24px;
}

#su-sub-header {
  text-align: center;
  font-weight: 300;
  line-height: 1.2;
  padding-top: 20px;
}

#su-sign-in-header {
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2;
}

fieldset {
  border: none;
  padding: 0;
}

.form-set {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

.label-text {
  padding-bottom: 6px;
  font-weight: 400;
  color: #404040;
  font-size: 14px;
  line-height: 25px;
}

.input-text {
  border: 1px solid #C1C5C8;
  border-radius: 3px;
  line-height: 1.3em;
  color: #000;
  outline: 0;
  font-size: 17px;
  width: 320px;
  min-width: 160px;
  padding-left: 8px;
  padding-right: 6px;
}

#note {
  padding: 5px 0;
  font-size: 10px;
  color: #444;
}

.btn-submit {
  background: #0077C5;
  border: #0077C5;
  border-radius: 4px;
  width: 100%;
  height: 44px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .75);
  min-width: 100px;
  display: inline-block;
  padding: 6px 12px;
  line-height: 1.428571429;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  margin-bottom: 30px;
}

.btn-submit a {
  text-shadow: none;
  font-weight: 400;
  color: #FFF;
}

#agreement-warning {
  text-align: center;
  font-size: 12px;
  font-style: italic;
  color: #757575;

}

#agreement-warning a {
  color: #0077C5;
}

#google-captcha {
  background: #ECEEF1;
  color: #8d9096;
  font-size: 10px;
  padding: 20px 0;
  text-align: center;
  margin: 32px -30px -30px;
  padding: 16px;
}

#google-captcha a {
  font-size: 10px;
}

#main-navigation {
  display: none;
}

#mint-footer {
  width: 90%;
  color: #505050;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 12px;
  text-align: center;
  position: relative;
  top: 120px;
}

#footer-links-container {
  list-style: none;
  padding-bottom: 5px;
  padding-left: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.footer-link {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 12px;
}

.footer-message {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* Media Queries */

@media only screen and (min-width: 768px) {
  #su-sign-in-header {
    display: inline;
    visibility: hidden;
  }

  #main-navigation {
    padding: 10px 30px;
    height: 60px;
    background: #eceef1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  #navigation-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .navigation-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
  }

  .text-column {
    text-align: right;
    font-size: 12px;
    color: #505050;
  }

  #btn-sign-in {
    background: #0077C5;
    border-radius: 4px;
    border: 1px solid #4c4c4c;
    height: 34px;
  }

  #btn-sign-in a {
    padding: 0 20px;
    color: white;
    cursor: pointer;
    font-size: 13px;
    font-weight: normal;
  }
}